/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #993030;
  --f7-theme-color-rgb: 153, 48, 48;
  --f7-theme-color-shade: #7a2626;
  --f7-theme-color-tint: #b83a3a;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 153;
  --g: 48;
  --b: 48;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}

.theme-dark {
  --f7-page-bg-color: #333 !important;
}

.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

/* #### Stats #### */

.statistic-content{
  padding: 2vw 5vw;
}

.statistic,
.second-statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.second-statistic .statistic-value {
  border-radius: 5%;
}

.statistic-name {
  font-size: 4.5vw;
}

.statistic-input {
  width: 100%;
  text-align: center;
}

.statistic:first-child .statistic-value {
  border-radius: 5%;
}

.statistic-value {
  background-color: #1e1e1e;
  border: solid .1px rgb(156, 156, 156);
  border-radius: 50%;
  font-size: 6vw;
  width: 14vw;
  height: 14vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.statistic-optional-value {
  position: absolute;
  z-index: 10;
  right: -0.2vw;
  bottom: -2vw;
}

.second-statistic-optional-value {
  position: absolute;
  z-index: 10;
  bottom: -3vw;
  width: 10vw;
  height: 5.5vw;
  background-color: rgb(231, 231, 231);
  border-radius: 10%;
  line-height: 5.5vw;
  color: #000;
}

.modal-statistic-value {
  background-color: #1e1e1e;
  border: solid .1px rgb(156, 156, 156);
  border-radius: 50%;
  font-size: 6vw;
  width: 14vw;
  height: 14vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal-statistic-optional-value {
  position: absolute;
  border: solid .1px rgb(156, 156, 156);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  z-index: 10;
  right: -10vw;
  bottom: -7vw;
}

hr {
  width: 30%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.counter {
  margin: 2rem 2vw;
}

.counter-content {
  padding: 0 4vw;
}

.counter-label {
  font-size: 5vw;
}

.counter-value {
  font-size: 6vw;
}

.counter-main-container {
  border-right: 1px solid rgb(156, 156, 156);
  border-left: 1px solid rgb(156, 156, 156);
  padding: 2vw 0;
}

/* #### Stuffs #### */

.open-dialog {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.stuff-content {
  margin: 0 1rem;
}

.home-plus-btn {
  background-color: #993030;
  color: #fff;
  border-radius: 50%;
  font-size: 6vw;
  width: 17vw;
  height: 17vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10vw;
  right: 10vw;
}